In [61]:
import pandas as pd
import numpy as np
import os
from sklearn.metrics import roc_curve
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Ridge
from sklearn.model_selection import cross_val_score

In [87]:
# import warnings filter
from warnings import simplefilter
# ignore all future warnings
simplefilter(action='ignore', category=FutureWarning)

In [9]:
os.getcwd()

'/Users/valkoiset/Desktop/Python/Datacamp/ML with Python'

In [54]:
df = pd.read_csv('data/heart.csv')

In [55]:
# df.info()
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [56]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [57]:
categorical = ['thal', 'ca', 'restecg', 'fbs', 'cp', 'sex']
df[categorical] = df[categorical].astype('category')

In [58]:
df.dtypes

age            int64
sex         category
cp          category
trestbps       int64
chol           int64
fbs         category
restecg     category
thalach        int64
exang          int64
oldpeak      float64
slope          int64
ca          category
thal        category
target         int64
dtype: object

In [59]:
df_dummies = pd.get_dummies(df)

In [64]:
df_dummies

,age,trestbps,chol,thalach,exang,oldpeak,slope,target,sex_0,sex_1,...,restecg_2,ca_0,ca_1,ca_2,ca_3,ca_4,thal_0,thal_1,thal_2,thal_3
0,63,145,233,150,0,2.3,0,1,0,1,...,0,1,0,0,0,0,0,1,0,0
1,37,130,250,187,0,3.5,0,1,0,1,...,0,1,0,0,0,0,0,0,1,0
2,41,130,204,172,0,1.4,2,1,1,0,...,0,1,0,0,0,0,0,0,1,0
3,56,120,236,178,0,0.8,2,1,0,1,...,0,1,0,0,0,0,0,0,1,0
4,57,120,354,163,1,0.6,2,1,1,0,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,140,241,123,1,0.2,1,0,1,0,...,0,1,0,0,0,0,0,0,0,1
299,45,110,264,132,0,1.2,1,0,0,1,...,0,1,0,0,0,0,0,0,0,1
300,68,144,193,141,0,3.4,1,0,0,1,...,0,0,0,1,0,0,0,0,0,1
301,57,130,131,115,1,1.2,1,0,0,1,...,0,0,1,0,0,0,0,0,0,1
302,57,130,236,174,0,0.0,1,0,1,0,...,0,0,1,0,0,0,0,0,1,0

In [65]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [70]:
X = df_dummies.drop('target', axis=1)
y = df_dummies['target']

In [73]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [84]:
log = LogisticRegression(solver='warn')

In [85]:
df.shape

(303, 14)

In [88]:
log.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [92]:
y_pred = log.predict(X_test)

In [96]:
log.score(X_test, y_test)

0.8461538461538461